$list: (
  accent-1: (
    100: hsl(256, 91%, 91%),
    200: hsl(255, 93%, 82%),
    300: hsl(253, 90%, 73%),
    400: hsl(252, 84%, 65%),
    500: hsla(251, 82%, 53%), // main
    600: hsl(250, 76%, 45%),
    700: hsl(249, 81%, 36%),
    800: hsl(248, 85%, 29%),
    900: hsl(246, 88%, 23%),
  ),

  accent-2: (
    100: hsl(310, 90%, 92%),
    200: hsl(305, 90%, 84%),
    300: hsl(301, 84%, 75%),
    400: hsl(295, 76%, 67%),
    500: hsla(291, 71%, 55%), // main
    600: hsl(286, 63%, 46%),
    700: hsl(282, 69%, 37%),
    800: hsl(277, 75%, 29%),
    900: hsl(272, 81%, 23%),
  ),

  accent-3: (
    100: hsl(162, 93%, 95%),
    200: hsl(166, 96%, 89%),
    300: hsl(171, 93%, 84%),
    400: hsl(177, 89%, 79%),
    500: hsla(182, 86%, 72%), // main
    600: hsl(187, 57%, 59%),
    700: hsl(192, 49%, 46%),
    800: hsl(197, 58%, 35%),
    900: hsl(202, 67%, 27%),
  ),

  grey: (
    100: hsl(0, 0%, 100%), // main
    200: hsl(0, 0%, 91%),
    300: hsl(0, 0%, 72%),
    400: hsla(0, 0%, 62%),
    500: hsla(0, 0%, 54%),
    600: hsl(0, 0%, 44%),
    700: hsla(240, 4%, 27%),
    800: hsla(0, 0%, 9%, 1),
    900: hsl(0, 0%, 0%),
  ),
);
