.item-offerings-root {
  table {
    width: 100%;
    text-align: left;
  }

  .token-image {
    height: 17px;
    margin-right: 6px;
    vertical-align: text-top;
  }

  .no-data {
    text-align: center;
    padding: 20px;
    color: var(--light-gray);
  }
}
