$twitch-chat-width: 340px;
$layout-width-desktop: 1200px;

.hot-bids-page-root {
  .stream-section {
    background-size: cover;

    &__wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px 0;
    }

    &__header {
      display: flex;
      justify-content: space-between;

      .title {
        text-align: center;
        position: relative;
        flex: 1;

        &__text, &__subtext {
          margin: 0;
          text-transform: uppercase;
          font-weight: 800;
        }

        &__text {
          font-size: 33px;
          color: var(--white);
        }

        &__subtext {
          position: absolute;
          width: 100%;
          font-family: 'Zurich Ultra Black', sans-serif;
          font-size: 44px;
          color: transparent;
          z-index: 2;
          -webkit-text-stroke: 1px white;
        }
      }

      .countdown {
        width: 240px;
        text-align: center;
        padding: 10px 15px;
        background-color: var(--mysteious-pink);
        margin-right: $twitch-chat-width;

        &__text, &__time {
          margin: 0;
          font-weight: 800;
          color: var(--white);
        }

        &__text {
          font-size: 15px;
          text-transform: uppercase;
        }

        &__time {
          font-size: 46px;
          line-height: 36px;
          text-transform: uppercase;
        }
      }
      .countdown-line {
        margin: 0;
        font-size: 22px;
      }
    }

    &__footer {
      display: flex;
      margin-right: $twitch-chat-width;

      .highest-bid {
        padding: 10px 0 10px 40px;
      }

      .bid-btn {
        width: 270px;
        height: 120px;
        background-color: var(--mysteious-pink);
        padding: 20px;
        font-size: 35px;
        font-weight: 800;
        text-transform: uppercase;
        color: var(--white);
        text-align: center;
        line-height: 85px;
      }
    }

    .stream-twitch {
      width: 100%;
      padding-bottom: 40.2%;
      background-color: #2B2B2F;
    }
  }

  $auction-preview-width-desktop: 360px;
  .auction-section {
    display: flex;

    &__preview {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
      background-size: cover;

      .drop-card {
        width: $auction-preview-width-desktop;
        box-shadow: 0 0 24px 8px rgba(254, 37, 114, 0.65);
      }

      .btn {
        width: $auction-preview-width-desktop;
        margin-top: 20px;
        font-size: 30px;
        font-weight: 700;
        padding: 10px 0;
      }
    }

    &__bids {
      flex: 1;
      background-color: var(--mysterious-gray);
      padding: 35px 50px 0 50px;
    }

    .bids-table {
      border-top: 1px solid var(--white);
      margin-top: 30px;
      color: var(--white);

      &__header {
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: none;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
          text-align: right;
        }
      }

      &__cell {
        font-size: 14px;
        font-weight: 600;
        border-bottom: 1px solid var(--white);
        padding-top: 25px;
        padding-bottom: 25px;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
          text-align: right;
        }
      }

      &__cell-from {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__price {
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 16px;
        color: var(--mysteious-pink);
      }

      &__price-icon {
        margin-left: 5px;
      }

      &__row:last-of-type .bids-table__cell {
        border-bottom: none;
      }
    }
  }

  .more-section {
    display: flex;
    height: 755px;
    padding-top: 60px;
    padding-bottom: 70px;
    justify-content: space-between;
    background-color: var(--black);

    .history {
      width: 595px;
      background-color: #080081;
      background-repeat: no-repeat;
      background-position: bottom -30px right -38px;
      border-radius: 0 10px 10px 0;
      overflow: hidden;

      &__image {
        height: 290px;
        background-size: cover;
      }

      &__text {
        padding: 20px 80px 20px 40px;
        font-family: Open Sans, serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        color: var(--white);
      }
    }

    .drop-card-wrapper {
      margin-left: 50px;

      &:last-of-type {
        margin-right: 50px;
      }

      .btn {
        width: 100%;
        margin-top: 20px;
        font-size: 30px;
        font-weight: 700;
        padding: 10px 0;
      }
    }
  }

  .hot-bids-footer {
    box-shadow: 0 4px 21px 15px rgba(254, 37, 114, 0.65);
  }
}
