.modal-buy {
  min-width: 300px;
  max-width: 360px;

  &__title {
    font-weight: 600;
    font-size: 25px;
    margin: 5px 0 15px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 12px;
    margin: 10px 0 35px;
  }

  &__subtitle-bold {
    font-weight: 700;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;

    &--darken {
      opacity: 0.3;
    }
  }

  &__price-icon {
    margin-right: 4px;
  }

  &__quantity {
    display: flex;
    flex: 1;
    border-left: 2px solid white;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
  }

  &__quantity-value {
    width: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    user-select: none;
  }

  &__quantity-minus, &__quantity-plus {
    cursor: pointer;
  }

  &__subtotal {
    display: flex;
    justify-content: space-between;
    margin: 26px 0;
    font-size: 14px;
    font-weight: 700;
    user-select: none;
  }

  &__subtotal-title {
    opacity: 0.4;

    &--darken {
      opacity: 0.2;
    }
  }

  &__confirm {
    width: 100%;

    &--darken {
      opacity: 0.3;
    }
  }
}

.modal-buy-complete {
  min-width: 220px;
  text-align: center;
  padding: 0 15px;

  &__title {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0 16px;
  }

  &__transaction-btn {
    width: 100%;
    background-color: #201C21;
  }
}
